body{
    font-family: 'Playfair Display', serif;
    margin: 0;
  /* section 1 is center in html */
}
section p{
    color:orange;
}
ul{
    color: orange;
}
hr{
    width: 80%;
    background-image:linear-gradient(130deg,blue,aqua) ;
    height: 2px;
}
.top-banner{
    display:flex;
    background-image:linear-gradient(#008006a8,#5a8000a6) ,url(./img/testimonial-bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 100px 0;
    background-position: center top;
    height: 85vh;
}
h1{
    font-size: 40px;
    color: white;
}
.exprience-h1{
    margin-left: 5%;
    color:#000;
}
a{
    text-decoration: none;
    color:skyblue;
}
.box1{
    width: 50%;
    padding-left: 5%;

}
.box1 img{
    width: 70%;
}
.yellow-color{
    text-transform:uppercase ;
    color: #ffd900e3;
    text-shadow: gray -2px 2px 2px;
}
.link-button{
    font-weight: 600;
    background-image: linear-gradient(90deg,tomato,orange);
    color: white;
    padding: 7px 25px;
    border-radius: 5px;
    box-shadow: 10px 10px 15px #333;
    transition: .7s;
    text-decoration: none;
}
.link-button:hover{
    padding: 12px 35px;
    background-image: linear-gradient(45deg ,orange,tomato);
    font-weight: 900;
}

/* -------------------section02 is up now in html-------------------*/

.dream-bg{
    display: flex;
    background-image:linear-gradient( rgba(135, 80, 156, 0.575) , rgba(135, 80, 156, 0.733)) , url(./img/contact-bg.jpg);
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    margin-bottom: 100px;
    height: 88vh;
}
.box-two{
    width: 50%;
    padding-left:5%;
}
.box-two img{
    width: 70%;
}
/* -------------------section03 -------------------*/
.exp-bg{
    background-image:linear-gradient( #ffdd99a9,#ffdd99a9),url(./img/skill-bg.jpg) ;
    background-attachment: fixed;
    background-position-x: right;
    background-repeat:no-repeat ;
    height: 88vh;
    margin-top: 100px;
    
    
}
.exprience-item{
    display: flex;
    
}
.my-dev{
    width: 40%;
        margin-right: 5%;
        margin-left: 5%;
        box-shadow: 10px 10px 40px gray;
        padding: 15px;
        border-radius: 5px;
}
h2{
   
    font-size:30px ;
   
}
#backend-experience{
    border-left: 10px solid;
    border-image: linear-gradient(green,red);
    border-image-slice: 1;  
    background-color: whitesmoke;
    
}
#forntend-exprience{
    border-left: 10px solid;
    border-image: linear-gradient(cyan,blue);
    border-image-slice: 1;
    background-color: whitesmoke;
}
/*------------------------ end footer------------------------- */
.f-para{
    margin-top: 100px;
    text-align: center;
}